<!--
	This is the First Modal. In this Modal all the information about editing your personal information is described!
-->
<div class="modal fade" id="change-info" tabindex="-1" role="dialog" aria-labelledby="changeInfoLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header" style="background-color: #337ab7 !important; color: #fff !important">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="changeInfoLabel">How do I change my personal information?</h4>
			</div>
			<div class="modal-body">
				<p><strong>Adding or editing your personal information is an important step of making your account way more personal. People know who you are and it gives your profile a better personal twist. But, how do you change your personal information. Actually, it's really not that hard...</strong></p>
				<p>Changing your personal information is a really easy thing to do and it requires only about a minute of your time. Super quick, isn't it? When you're on your personal profile page you can easily add or edit all your personal information.<p><p> Atfter you login, you automatically get redirected to your profile page. You can also go to your profile page by clicking on the '<i>My Profile</i>'-link in the top navigation, or by inserting your username in the URL. If you choose the last way, your URL should look something like this: <pre>https://guestbook.com/Profile/YourUsername</pre></p>
				<p>When you arrive at your account, you can see the small panel on the top of the right side of your wegpage. The heading of this panel says: <kbd style="background-color: #337ab7 !important;">Edit my Profile</kbd> and is impossible to miss. When you click on the first link, in the middle of the page, a form will appear where you can add or edit your personal information!</p>
				<p><strong>At the moment you can add or edit the following things:</strong></p>
				<ul>
					<li>First name</li>
					<li>Last name</li>
					<li>Date of Birth</li>
					<li>Nickname</li>
					<li>Country</li>
					<li>E-mail</li>
					<li>Bio</li>
				</ul>
				<p>When you hit the blue <kbd style="background-color: #5bc0de !important;">Edit</kbd> button, all your changes will save. But, there's one thing that you have to keep in mind. It is also set as a reminder on the top of the form, but whenever you make changes to your account, you will be logged out. Don't worry though, becuase when you log back in, all your changes should be visible at your profile page!</p>		
			</div>	
		</div>
	</div>
</div>

<!--
	This is the Second Modal. In this Modal, all the information about changing your username is described!
-->
<div class="modal fade" id="change-username" tabindex="-1" role="dialog" aria-labelledby="changeUsernameLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header" style="background-color: #337ab7 !important; color: #fff !important">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="changeUsernameModal">How do I change my username?</h4>
			</div>
			<div class="modal-body">
				<p><strong>A lot of people also come to the point of where they're thinking: '<i>Hey, i don't like my username anymore, I want to change this</i>'. If you're at this point to and really want to change your username, everything you have to know will be explained to you here!</strong></p>
				<p>If you don't like your username anymore, it's really easy to change this. However, you have to keep a few things in mind when you want to choose a new username:</p>
				<ul>
					<li>Choose a username which <strong>describes</strong> you best. Most common usernames contain the <strong>name</strong> of the person, or a part of the name. You can also choose a username which describes what you <strong>like</strong>. Be warned about the following: When you use any kind of <strong>swear words</strong>, or words which are <strong>inappropriate</strong>, your account will be deleted. Let's just keep this an appropriate platform for users of all ages!</li><br>
					<li>Choose a username which <strong>doesn't exist</strong> already. This sounds kind of obivous, but when you want to change your username it will alwyas be checked whether or not the username already exists on the webiste. If this is the case, you won't be able to use that username!</li><br>
					<li>Don't use more than <strong>25</strong> characters. The best username is short, but strong. Try to describe yourself in as little characters as possible.</li><br>
					<li>Just as when you're changing your personal information, you have to click the blue <kbd style="background-color: #5bc0de">Edit</kbd> button to save your changes. Also, when you change your username you will automatically be logged out, but don't worry. When you log back in, you can see your changed username!</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<!-- 
	This is the Third Modal. In this Modal, all the information about changing your profile picture is described!
-->
<div class="modal fade" id="change-profile-picture" tabindex="-1" role="dialog" aria-labelledby="changeProfilePictureLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header" style="background-color: #337ab7 !important; color: #fff !important">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">How do I change my profile picture?</h4>
			</div>
			<div class="modal-body">
				<p><strong>It's always a good idea to change your profile picture every once in a while. You have to keep a few things in mind while changing your profile picture but it will all be explained to you here!</strong></p>
				<p>When you have a profile picture, other people will likeley click way faster on your profile to see more of you. Just take a look at Twitter for example. Whenever a person with the Twitter Egg profile picture statrted following you, you will less likely be interested in this certain user. But, when a user with a clean profile picture starts following you, you will automatically be more interested in that user which results in checking out his profile. We've just took Twitter for exmaple, but you can also see it at Facebook or LinkedIn. We have a few points for you which you should keep in mind when choosing your new profile picture:</p>
				<ul>
					<li><strong>Choose an image which shows YOU!</strong>&nbsp;We can't emphasize this enough, because it actually is really important to show a picture of you on your profile. In general, people like to see who you are, not a general Egg photo, or a photo of a pet. That's why we advise you to choose a profile picture where you're actually on. At the end, the choice is yours ofcourse, so you can choose whatever you want.</li><br>
					<li>We would like to come back at our <i>'You can choose whatever you want'</i>-statement from above. You actually can't choose anything you want. The maximum size of your uploaded image cannot be greater than 2MB. So, please don't try to upload one of thos 4K images because it won't work.</li><br>
					<li>Please choose an appropriate image. Just as we stated in the <i>'How do I change my username'</i>-section, we would like to keep this a place for all ages. This means that we don't want you to uploaded any violent, sexual or other inappropriate images. If you would like to try us on that, please go ahead. We won't promise that you will ever be able to enter out website again though...</li><br>	
					<li><strong>NO CATFISHING!</strong>&nbsp;Nothing is more annoying the someone who steals your picture and pretends to be you. People who get catfished actually can get in a lot of trouble. So our advise goes: Please don't. If you ever get catfished, please contact us immediateley and send us proof that you are actually who you claim you are. If we get the evidence that you really are this person, we will delete the 'fake account' immediately.</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<!--  
	This is the fourth Modal. In this Modal all the general rules of Guestbook are described.
-->
<div class="modal fade" id="general-rules" tabindex="-1" role="dialog" aria-labelledby="generalRulesLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header" style="background-color: #337ab7 !important; color: #fff !important">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">General rules of the Guestbook.</h4>
			</div>
			<div class="modal-body">
				<p><strong>Ofcourse we also have some rules wish must be followed at any time during your Gusetbook visit. This is not to annoy you ore something, but we do have a few standards. Guestbook is a place where people of all ages are and with this rules the Guestbook is a pleasant experience for anyone!</strong></p>
			</div>
		</div>
	</div>
</div>