@charset 'utf-8';

/* Fonts */

/* CSS Document */
body {
	margin: 0px;
	padding: 0px;
	background-color: #f0f0ed !important;
}

/* | General | */
.inner-wrapper {
	margin-left: 0px;
}

.top-wrapper {
	margin-top: 0px;
}

.connection-status {
	display: none;
}

.default-panel {
	border: none !important;
}

.default-panel .panel-heading {
	background-color: #fff !important;
	border: none !important;
	box-shadow: none !important;
	border-bottom: 1px solid #ccc !important;
	border-top-right-radius: 10px!important;
	border-top-left-radius: 10px !important;
}

.default-panel .panel-heading p {
	margin-top: 10px;
}

.default-panel label {
	color: grey;
}

.default-panel input {
	background-color: #f2f2f2 !important;
	border-radius: 0px !important;
	border: none !important;
}

/* | Top Navigation | */
.top-nav {
	background-color: #33363c !important;
	height: 50px;
	border-bottom-left-radius: 10px !important;
	border-bottom-right-radius: 10px !important;
}

.navbar-brand {
	color: #fff !important;
	font-size: 20px !important;
}

.top-nav .navbar-nav li a {
	color: #fff !important;
}

.top-nav .navbar-nav li.active a {
	background-color: #33363c;
	height: 49px;
}

.top-nav .navbar-nav li.active a:hover {
	background-color: #33363c;
}

/* | Left Side | */
.recent-members .list-group {
	margin-left: -15px;
	margin-right: -15px;
}

.recent-members .list-group-item {
	border: none !important;
}

.media-object {
	height: 64px;
	width: 64px;
}

.media .name {
	font-size: 15px;
	font-weight: bold;
}

.media .date {
	color: grey;
	font-style: italic;
	font-size: 14px;
}

.online-users .list-group-item,
.offline-users .list-group-item {
	margin-left: -15px !important;
	margin-right: -15px !important;
	border: none !important;
}

.online-icon {
	background-color: #1BBD3F !important;
	border-radius: 50px;
	color: #1BBD3F !important;
}

.offline-icon {
	background-color: #CD2424 !important;
	border-radius: 50px;
	color: #CD2424 !important;
}

/* | Middle | */
.carousel-inner,
.carousel-img {
	height: 300px !important;
	width: 100% !important;
	border-radius: 10px;
}

.message-wrapper {
	border-bottom: 1px solid #E7E7E7;
}

.messages .panel-heading {
	background-color: #F9F9F9 !important;
	box-shadow: none !important;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.messages .media img {
	height: 64px !important;
	width: 64px !important;
}

.messages textarea {
	height: 64px !important;
}

.messages .post-message {
	margin-top: 15px;
}

.interaction {
	display: none;
}

/* | Right  | */
.statistics .list-group-item {
	background-color: #DB4AC8 !important;
	border: none !important;
	color: #fff;
	font-weight: bold;
	font-size: 18px;
	margin-top: 15px;
}

.ad-image {
	height: 200px;
	width: 100%;
}

.online-friends {
	margin-top: 15px;
}

/* | Login | */
.register-panel {
	margin-top: 50px;
}

.add-padding {
	padding-top: 15px;
}

/* | Profile | */
.profile .thumbnail {
	background-color: #f0f0ed !important;
	border: none !important;
}

.profile .list-group-item {
	margin-left: -13px !important;
	margin-right: -13px !important;
	border-radius: 0px !important;
}

.profile .list-group-item .first {
	border-top: 1px solid #ccc;
}

.user-message .media img {
	height: 64px;
	width: 64px;
}

.user-message .message-username {
	font-weight: bold !important;
	font-size: 15px;
}